target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/dataSources.local.xml
/.idea/dataSources/e90a12bc-0890-45db-8ed2-3c203b22bf02.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_10_01_2023_12_49_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_10_01_2023_12_49__Changes_.xml
